<div data-grid="images">
    <img data-width="350" data-height="350" src="http://placehold.it/350x350/EEE04A/ffffff">
    <img data-width="350" data-height="350" src="http://placehold.it/350x350/5cb85c/ffffff">
    <img data-width="350" data-height="350" src="http://placehold.it/350x350/5bc0de/ffffff">
    <img data-width="350" data-height="350" src="http://placehold.it/350x350/f0ad4e/ffffff">
    <img data-width="350" data-height="350" src="http://placehold.it/350x350/FF3167/ffffff">
    <img data-width="350" data-height="350" src="http://placehold.it/350x350/EEE04A/ffffff">
  </div>