<div class="container">
  <div class="row">
    <div class="col-md-3 sidebar">
      <nav class="sidebar-nav">
        <div class="sidebar-header">
          <button class="nav-toggler nav-toggler-md sidebar-toggler" type="button" data-toggle="collapse" data-target="#nav-toggleable-md">
            <span class="sr-only">Toggle nav</span>
          </button>
          <a class="sidebar-brand img-responsive" href="index.html">
            <span class="icon icon-leaf sidebar-brand-icon"></span>
          </a>
        </div>
      </nav>
    </div>
  </div>
</div>
