<router-outlet></router-outlet>

<hr class="mt-5">

<div class="list-group mb-3">
  <h6 class="list-group-header">
    Devices and resolutions
  </h6>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Desktop (1920x1080)</span>
      <span class="text-muted">3,929,481</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Desktop (1366x768)</span>
      <span class="text-muted">1,143,393</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Desktop (1440x900)</span>
      <span class="text-muted">938,287</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Desktop (1280x800)</span>
      <span class="text-muted">749,393</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Tablet (1024x768)</span>
      <span class="text-muted">695,912</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Tablet (768x1024)</span>
      <span class="text-muted">501,938</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Phone (320x480)</span>
      <span class="text-muted">392,842</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Phone (720x450)</span>
      <span class="text-muted">298,183</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Desktop (2560x1080)</span>
      <span class="text-muted">193,129</span>
    </a>
  
    <a class="list-group-item list-group-item-action justify-content-between" href="#">
      <span>Desktop (2560x1600)</span>
      <span class="text-muted">93,382</span>
    </a>
  
</div>
<a href="#" class="btn btn-outline-primary px-3">View all devices</a>

      </div>
    </div>
  </div>

  <div id="docsModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">Example modal</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
      <div class="modal-body">
        <p>You're looking at an example modal in the dashboard theme.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cool, got it!</button>
      </div>
    </div>
  </div>
</div>
